# CONFIGURACIÓN DE BASES DE DATOS

# SQL Server
SQL_SA_PASSWORD=contraseña
SQL_DATABASE=nombre de la base de datos

# PostgreSQL
PG_USER=usuario de postgre
PG_PASSWORD=contraseña de postgre
PG_DATABASE=Nombre de la base de datos de postgre

# MongoDB
MONGO_USERNAME=Usuario de Mongo
MONGO_PASSWORD=Contraseña de Mongo